[Unit]
Description={{ app_name }}
After=network.target

[Service]
Type=simple
WorkingDirectory={{ app_release_path }}
ExecStart={{ app_service_exec }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
