Welcome to {{ inventory_hostname }} ({{ ansible_distribution }} {{ ansible_distribution_version }})
Managed by {{ ssh_organization_name }} - {{ ssh_organization_department }}
Classification: {{ ssh_system_classification }}
Security Contact: {{ ssh_security_contact_email }}

Reminder: All sessions are recorded and audited.
