[defaults]
roles_path = /runner/project/ansible-lab/roles
ANSIBLE_DEPRECATION_WARNINGS: "False"
ANSIBLE_COLLECTIONS_PATH: "/runner/requirements_collections:/runner/.ansible/collections:/usr/share/ansible/collections"
