[defaults]
host_key_checking = false
roles_path = ./roles
deprecation_warnings = false

[inventory]
enable_plugins = amazon.aws.aws_ec2, auto, yaml, ini




#host_key_checking=false
#inventory = /home/GSK/ansible-lab/inventory/hosts
#interpreter_python = /home/GSK/ansible-lab/ansible-venv/bin/python3
#roles_path = /runner/test/ansible-lab/roles
#deprecation_warnings= false
#private_key_file = /home/sgorrela/.ssh/ansible_sgorrela
#inventory_plugins = ~/.ansible/plugins/inventory:/usr/share/ansible/plugins/inventory

#enable_plugins = amazon.aws.aws_ec2, auto, yaml, ini
