[Unit]
Description=GitHub Actions Runner
After=network.target docker.service
Wants=docker.service

[Service]
Type=simple
User={{ runner_username }}
Group={{ runner_username }}
WorkingDirectory={{ runner_work_dir }}
ExecStart={{ runner_work_dir }}/run.sh
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min
Restart=always
RestartSec=15
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
